<template name="Home">
    <div id="home" name="home" class="headerwrap">
        <header class="clearfix">
            <h1>Spare Capacity !! </h1>
            <h2>A Smart Contract enabled, Ethereum based Smart App.</h2>
            <p>
                Spare Capacity is a disruptive way of helping people by sharing your core competency
            </p>
            <a href="{{pathFor route='modules'}}" class="smoothScroll btn btn-lg">See Our Modules</a>
        </header>
    </div>
</template>
<template name="About">
    <div id="about" name="about">
        <div class="container">
            <div class="row white">
                <div class="col-md-6"> <img class="img-responsive" src="img/about/about.png" align=""> </div>
                <div class="col-md-6">
                    <h3>About us</h3>
                    <p>We are a team of coders and computer enthusiasts based in India.Currently 3 Billion people in Asia and Africa have no access to Financial Products. We believe that Smart Contracts and Blockchain technologies has the potential to financially include the Other 3 Billion ("O3B").
                    </p>
                    <h3>Why choose us?</h3>
                    <p>Using a sub $100 Smart Phone we plan to put, a Bank, a Financial trading platform and access to Insurance all in the hands of the "03B".
                        <br>
                        <br> Share your Capacity!!</p>
                </div>
            </div>
            <!-- row -->
        </div>
    </div>
</template>
<template name="Modules">
    <!-- container -->
    <!-- ==== MODULES ==== -->
    <div id="modules" name="modules">
        <div class="container">
            <div class="row">
                <h2 class="centered">Our Modules</h2>
                <hr>
                <div class="col-lg-8 col-lg-offset-2">
                    <p class="large">Currently we plan to offer the following modules depending on your financial needs.</p>
                </div>
                <div class="col-lg-3 callout"> <i class="fa fa-money fa-3x"></i>
                    <h3>Share Time Module</h3>
                    <p> Busy Professionals can donate Spare Time </p>
                </div>
                <div class="col-lg-3 callout"> <i class="fa fa-arrows-h fa-3x"></i>
                    <h3>NGO Campaign Module</h3>
                    <p>Enter your campaign wishlist!</p>
                </div>
                <div class="col-lg-3 callout"> <i class="fa fa-dot-circle-o fa-3x"></i>
                    <h3>CSR Module</h3>
                    <p>Companies Reward Volunteers with Crypto-Tokens that can be redeemed for products.</p>
                </div>
                <div class="col-lg-3 callout"> <i class="fa fa-shopping-cart  fa-3x"></i>
                    <h3>Gift Module</h3>
                    <p>Gifts unused items lying around your house to someone in need</p>
                </div>
                <br>
                <br>
            </div>
            <!-- row -->
        </div>
    </div>
    <!-- container -->
</template>
<template name="Team">
    <!-- ==== TEAM MEMBERS ==== -->
    <div id="team" name="team">
        <div class="container">
            <div class="row centered">
                <h2 class="centered">Meet Our Team</h2>
                <hr>
                <div class="col-lg-8 centered"> <img class="img img-circle" src="img/team/team01.jpg" height="120px" width="120px" alt="">
                    <h4>Chaitanya Amin</h4>
                    <p> M.B.A Finance (Boston Univ) and M.S Computer Systems. With over 10 years experience in Finance. Currently working on Smart Contracts, blockchains and iOT.</p>
                    <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a> </div>
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</template>
<template name="Contact">
    <!-- ==== CONTACT ==== -->
    <div id="contact" name="contact">
        <div class="container">
            <div class="row">
                <h2 class="centered">Contact Us</h2>
                <hr>
                <div class="col-md-4 centered"> <i class="fa fa-map-marker fa-2x"></i>
                    <p> Pune, India
                    </p>
                </div>
                <div class="col-md-4"> <i class="fa fa-envelope-o fa-2x"></i>
                    <p>foo@gmail.com</p>
                </div>
                <div class="col-md-4"> <i class="fa fa-phone fa-2x"></i>
                    <p> +91</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 centered">
                    <p></p>
                    <form id="contact" method="post" class="form" role="form">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 form-group">
                                <input class="form-control" id="name" name="name" placeholder="Name" type="text" required />
                            </div>
                            <div class="col-xs-6 col-md-6 form-group">
                                <input class="form-control" id="email" name="email" placeholder="Email" type="email" required />
                            </div>
                        </div>
                        <textarea class="form-control" id="message" name="message" placeholder="Message" rows="5"></textarea>
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <button class="btn btn btn-lg" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                    <!-- form -->
                </div>
            </div>
            <!-- row -->
        </div>
    </div>
</template>
